<%= form_with scope: :tournament, url: admin_tournaments_path, html: {:id => "demo-form2", "data-parsley-validate" => "", :class => "form-horizontal form-label-left", :novalidate => ""}, local: true do |form| %>

  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="myteam">
    </label>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <h2> Заполните информацию о новом турнире</h2>
    </div>
  </div>

  <%= render partial: "tournament", locals: {form: form} %>

  <div class="col-md-4 col-sm-4 col-xs-12 col-md-offset-3">
    <%= form.submit "Создать", :class => "btn btn-success", :id => "submit", :disabled => "true" %>
  </div>

<% end %>

<script>
    function checkParams() {
        var name = $('#name').val();
        var season = $('#season').val();
        var location = $('.checkbox').is(':checked');
        var federation = $('#federation').val();
        if (name.length != 0 && season.length != 0 && location == true && federation.length != 0) {
            $('#submit').removeAttr('disabled');
        } else {
            $('#submit').attr('disabled', 'disabled');
        }
    }
</script>