<%= form_with scope: :team_tournament, url: team_tournaments_path, html: {"data-parsley-validate" => "", :class => "form-horizontal form-label-left col-md-12 col-sm-12 col-xs-12", :novalidate => ""}, local: true do |f| %>
  <p>Добавить турнир:</p>
  <%= f.hidden_field :team_id, value: team.id %>
  <div class="item form-group">
    <div class="col-md-4 col-sm-4 col-xs-12">
      <%= f.collection_select(:tournament_id, Tournament.where.not(id: team.tournaments.ids), :id, :name, {:prompt => "Выберите турнир"}, {:class => "form-control", :required => ""}) %>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12 ">
    <%= f.submit "Добавить", :class => "btn btn-success" %>
  </div>
<% end %>