<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="myteam">Название
  </label>
  <div class="col-md-4 col-sm-4 col-xs-12">
    <%= form.text_field :name, :id => "name", :class => "form-control col-md-5 col-xs-12", :onkeyup => "checkParams()" %>
  </div>
</div>

<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="myteam">Адрес
  </label>
  <div class="col-md-4 col-sm-4 col-xs-12">
    <%= form.text_field :address, :id => "address", :class => "form-control col-md-5 col-xs-12", :onkeyup => "checkParams()" %>
  </div>
</div>