<% @tournaments.each do |tournament| %>
  <li><%= link_to tournament.name, tournament_path(tournament), method: :get %>
    <div style="display: inline-block; position: absolute; right: 25px;">
      <%= admin_pan_tourn(tournament) %>
    </div>
  </li>
<% end %>