<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2><i class="fa fa-trophy"></i> Турниры</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <ul id="tournament_content" class="border">
        <% if @tournaments.empty? %>
          <blockquote>
            <p>Турниры отсутствуют</p>
          </blockquote>
        <% else %>
          <% @tournaments.each do |tournament| %>
            <li><%= link_to tournament.name, tournament_path(tournament), method: :get %>
              <div style="display: inline-block; position: absolute; right: 25px;">
                <%= admin_pan_tourn(tournament) %>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
      <%= pagination(@tournaments_page, @tournaments) %>
    </div>
  </div>
</div>

<script>
    function checkPagePlus() {
        var counter = $('#page').val();
        if ((Number(counter) + 1) < <%= @tournaments_page %>) {
            $('#counter').html(+$('#counter').html() + 1);
            $('#page').val(+$('#page').val() + 1);
            $.ajax({
                url: "/tournaments",
                type: "GET",
                data: {offset: (Number(counter) + 1)}
            })
        }
    }

    function checkPageMinus() {
        var counter = $('#page').val();
        if ((Number(counter) + 1) != 1) {
            $('#counter').html(+$('#counter').html() - 1);
            $('#page').val(+$('#page').val() - 1);
            $.ajax({
                url: "/tournaments",
                type: "GET",
                data: {offset: (Number(counter) - 1)}
            })
        }
    }
</script>