<p><b><i>Игра сыграна?</i></b></p>
<%= form_with(model: nxtgm, html: {:style=>"display: flex; justify-content: center; margin-bottom: 10px;"},local: true) do |form| %>
  <%= form.text_field :game_score, placeholder: "Установите счет"%>
  <%= form.hidden_field :team_id, value: teamprsns[index].id %>
  <%= form.submit("Установить") %>
<% end %>