
    <div class="page-title">
      <div class="title_left">


        <p>Вы не игрок. Это ошибка? Тогда нужно <%= link_to 'заполнить игровой профиль', new_player_path(current_user) %></p>

        <h3>Ваши команды:</h3>

        <%if @teamsusr.nil?%>
          <p>Вы не привязаны ни к одной команде</p>
        <%else%>
          <% @teamsusr.each do |team|%>
            <table>
              <td><%= team.name%></td>
              <td><%= button_to 'показать', team_path(team), :method => :get %></td>
            </table>
          <% end %>
        <%end%>


        <h3>Ваша роль: </h3>
        <% @rols.each do |role| %>
          <%= role.role%>
        <% end %>


      </div>
    </div>









