<% @federations.each do |federation| %>
  <li><%= link_to federation.name, federation_path(federation), method: :get %>
    <div style="display: inline-block; position: absolute; right: 25px;">
      <%= admin_pan_federation(federation) %>
    </div>
  </li>
<% end %>