<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2><i class="fa fa-institution"></i> Федерации</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <ul id="feder_content" class="border">
        <% if @federations.empty? %>
          <blockquote>
            <p>Федерации отсутствуют</p>
          </blockquote>
        <% else %>
          <% @federations.each do |federation| %>
            <li><%= link_to federation.name, federation_path(federation), method: :get %>
              <div style="display: inline-block; position: absolute; right: 25px;">
                <%= admin_pan_federation(federation) %>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
      <%= pagination(@federations_page, @federations) %>
    </div>
  </div>
</div>
<script>
    function checkPagePlus() {
        var counter = $('#page').val();
        if ((Number(counter) + 1) < <%= @federations_page %>) {
            $('#counter').html(+$('#counter').html() + 1);
            $('#page').val(+$('#page').val() + 1);
            $.ajax({
                url: "/federations",
                type: "GET",
                data: {offset: (Number(counter) + 1)}
            })
        }
    }

    function checkPageMinus() {
        var counter = $('#page').val();
        if ((Number(counter) + 1) != 1) {
            $('#counter').html(+$('#counter').html() - 1);
            $('#page').val(+$('#page').val() - 1);
            $.ajax({
                url: "/federations",
                type: "GET",
                data: {offset: (Number(counter) - 1)}
            })
        }
    }
</script>
