<%= form_with scope: :federation, url: admin_federations_path, html: {:id => "demo-form2", "data-parsley-validate" => "", :class => "form-horizontal form-label-left", :novalidate => ""}, local: true do |form| %>

  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="myteam">
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <h2>Введите информацию о новой федерации</h2>
    </div>
  </div>

  <%= render partial: "federation", locals: {form: form} %>

  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="myteam">
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= form.submit "Создать", :class => "btn btn-success" %>
      <a onclick="javascript:history.back(); return false;" class="btn btn-success"> Отмена
      </a>
    </div>
  </div>

<% end %>