<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12">Email
  </label>
  <div class="col-md-4 col-sm-4 col-xs-12">
    <%= form.email_field :email, :id => "email", :class => "form-control col-md-5 col-xs-12", :onkeyup => "checkParams()" %>
  </div>
</div>

<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12">Пароль
  </label>
  <div class="col-md-4 col-sm-4 col-xs-12">
    <%= form.password_field :password, :id => "pass",:placeholder => "не менее 6 символов", :class => "form-control col-md-5 col-xs-12", :onkeyup => "checkParams()" %>
  </div>
</div>

<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12">Повторите пароль
  </label>
  <div class="col-md-4 col-sm-4 col-xs-12">
    <%= form.password_field :password_confirmation, :id => "pass_conf", :class => "form-control col-md-5 col-xs-12", :onkeyup => "checkParams()" %>
  </div>
</div>