<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2><i class="fa fa-flag-checkered"></i> Стадионы</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <ul id="location_content" class="border">
        <% if @locations.empty? %>
          <blockquote>
            <p>Места проведения отсутствуют</p>
          </blockquote>
        <% else %>
          <% @locations.each do |location| %>
            <li><%= link_to location.name, location_path(location), method: :get %>
              <div style="display: inline-block; position: absolute; right: 25px;">
                <%= admin_pan_location(location)%>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
      <%= pagination(@locations_page, @locations) %>
    </div>
  </div>
</div>
<script>
    function checkPagePlus() {
        var counter = $('#page').val();
        if ((Number(counter) + 1) < <%= @locations_page %>) {
            $('#counter').html(+$('#counter').html() + 1);
            $('#page').val(+$('#page').val() + 1);
            $.ajax({
                url: "/locations",
                type: "GET",
                data: {offset: (Number(counter) + 1)}
            })
        }
    }

    function checkPageMinus() {
        var counter = $('#page').val();
        if ((Number(counter) + 1) != 1) {
            $('#counter').html(+$('#counter').html() - 1);
            $('#page').val(+$('#page').val() - 1);
            $.ajax({
                url: "/locations",
                type: "GET",
                data: {offset: (Number(counter) - 1)}
            })
        }
    }
</script>