<div class="pagination" style="text-align: center">
  <a id="prev" onclick="checkPageMinus()">❮</a>
  <a>
    <input id="page" type="hidden" value="0">
    <div id="counter" style="display: inline-block" value>1</div>
    / <%= page %>
  </a>
  <a id="next" onclick="checkPagePlus()">❯</a>
</div>